In [6]:
import pandas as pd

In [7]:
file_path = '/home/eric_baldwin/ddiMain/midterm/VA_Benefits/data/VA.csv'

df=pd.read_csv(file_path)

df.head(10)

,State Name,Percent of Veterans who used VA Health Care,Number of VA Health Care Patients,Veteran Population,Year
0,Alabama,0.2461,101374,411844.53560,2010
1,Alabama,0.2611,105184,402853.71460,2011
2,Alabama,0.2672,105800,395992.37850,2012
3,Alabama,0.2742,106880,389780.06430,2013
4,Alabama,0.2858,110178,385510.64080,2014
5,Alabama,0.2913,109912,377310.39450,2015
6,Alaska,0.1990,15106,75896.97603,2010
7,Alaska,0.2066,16042,77641.05669,2011
8,Alaska,0.2256,16932,75055.52190,2012
9,Alaska,0.2350,17814,75811.98468,2013

In [8]:
df_shape = df.shape
print(df_shape)

(312, 5)

In [11]:
data_types = df.dtypes
print(data_types)

State Name                                      object
Percent of Veterans who used VA Health Care    float64
Number of VA Health Care Patients                int64
Veteran Population                             float64
Year                                             int64
dtype: object

In [12]:
categorical_fields = data_types[data_types == 'object'].index.tolist()
print(categorical_fields)

['State Name']

In [13]:
quantitative_fields = data_types[data_types != 'object'].index.tolist()
print(quantitative_fields)

['Percent of Veterans who used VA Health Care', 'Number of VA Health Care Patients', 'Veteran Population', 'Year']

In [15]:
missing_data = df.isnull().sum()
print(missing_data)

State Name                                     0
Percent of Veterans who used VA Health Care    0
Number of VA Health Care Patients              0
Veteran Population                             0
Year                                           0
dtype: int64